---
import { SITE_TITLE } from "../consts";
import Hamburger from "./Hamburger.astro";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <Hamburger />
  </nav>
</header>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    padding-bottom: 2em;
    padding-top: 1em;
  }
  h2 {
    margin: 0;
    margin-top: 0.5em;
    white-space: nowrap;
    font-size: 1em;
    font-family: "Handlee", sans-serif;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
</style>
